.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
  opacity: 0;
  filter: blur(15px);
  transition: all 2s;
  transform: translatex(-100%) ;
}

.show{
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform: translatex(0);
}

.about .about__left {
  max-width: 42rem;
  flex: 1;
}

.about .about__left p {
  margin: 1rem 0 2rem;
}

.about .about__left ul {
  margin-left: -1.2rem;
}

.about .about__left ul li {
  display: inline-block;
}

.about .about__left ul li a {
  display: inline-block;
  padding: 1rem; 
  transition: transform 0.3s ease;
  cursor: pointer;
}
.about .about__left ul li a:hover {
  display: inline-block;
  padding: 1rem; 
  transform: scale(1.2); 
}

.about .about__right {
  flex: 1;
  max-width: 66rem;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
}


